body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}
button{
    background-color: #5f9341;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}
/* html.body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#box{
    cursor: pointer;
    background: lightseagreen;
    padding: 40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
} */
/* button{
    cursor: pointer;
    background-color: palevioletred;
    padding: 20px;
    width: 200px;
    border: none; }*/
/* #container{
    color: white;
    font-weight: bold;
}
p{
    color: palevioletred;
} */
 /* ul{
    list-style: 0;
    
 }
 li{

 }a{
    color: green;
 } */
#delete-btn{
    background-color: white;
    color: #5f9341;
}