.backbutton{
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
#res{
  margin-left: 4px;
  margin-right: 4px;
  font-size: 18px;
}
#Next{
  margin-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}