
#nike{
  font-size: 30px;
  font-weight: bold;
}
#price
{
  color: rgb(0, 118, 0);
}
#cart{
  background-color : rgb(255, 216, 20);
  color: black;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.15s;
}
#cart:hover{
  background-color: rgb(247,202,0);
}
#cart:active{
  opacity: 0.5;
}
#buy{
  background-color: rgb(255,164,28);
  color: black;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
#buy:hover{
  background-color: rgb(250,137,0);
}
#buy:active{
  opacity: 0.5;
}
#but{
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}
#but:hover{
opacity: 0.8;
}
#add{
  background-color: rgb(255,216,20);
  border: none;
  height: 30px;
  width: 140px;
  border-radius: 15px;
  cursor: pointer;
}
#add:hover{
  background-color: rgb(245,205,3);
}
#sign{
  background-color: rgb(46, 164, 79);
  color: white;
  height: 50px;
  width: 110px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}
#sign:hover{
  box-shadow: 0px  5px 8px rgba(0.0,0,0.15);
}
#get{
  color: white;
  background-color: rgb(121, 82, 179);
  border: none;
  border-radius: 2px;
  height: 40px;
  width: 110px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}
#get:hover{
  background-color: rgb(99,60,156);
}
#down{
  color: rgb(108, 117, 125);
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgb(108, 117, 125);
  height: 40px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}
#down:hover{
  background-color: rgb(108, 117, 125);
  color: white;
}
#apply{
  background-color: rgb(10,102,194);
  color: white;
  width: 240px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  margin-right: 8px;
  transition: background-color 0.15s;
}
#apply:hover{
  background-color: rgb(2, 70, 138);
}
#save{
  color: rgb(10, 102, 194);
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s,border-width 0.15s;
}
#save:hover{
  background-color: rgb(226,240,254);
  border-width: 2px;
}
#amazon:hover{
  color: rgb(139, 20, 40);
}

#sace
{
  
}