/* position : */
/* 
relative : positioned relative to where it normally
fixed : positioned relative to the viewport(web browser)
absolute: positioned relative to nearest ancestor
sticky: positioned based on scroll position
static : default position for an element
*/


#box1{
  width: 200px;
  height: 200px;
  background-color: hsl(188, 100%, 63%);
  position: relative; /*With position relative we can move the element to left,right,upwards or downwards*/
  /* To push the element to downward set top to some value */
  top: -100px;
  left: -100px;
}
#box2{
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  position: fixed;
  right: 0px;
  top: 500px;
}

#box3{
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 29, 0.993);
  position: relative;
  top: 100px;
  left: 100px;
}
#box4{
  background-color: rgb(5, 5, 5);
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50px;
  left: 50px;
}
/* if we have to move box3 ,box4 is still going to stay in the top left corner of box1 */
#box5{
  width: 125px;
  height: 125px;
  background-color: rgba(41, 2, 41, 0.877);
  position: sticky;  /*it is in the same place until we are going to scroll past it*/  /*we reserve some space for the original element*/
  /* but for fixed => the element is stuck to the top of the viewport */
  top: 0px;
}
#box6{
  width: 110px;
  height: 110px;
  background-color: rgb(182, 5, 34);
  position: relative;
}
#box7{
  width: 50px;
  height: 50px;
  background-color: yellowgreen;
  position: static;    /*it remains in the default position even if we give it top 20px*/
  top: 20px;        
}