*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}
header{
  background-color: hsl(0, 10%, 76%);
  text-align: center;
  padding: 25px;
}
.navbar{
  background-color: hsl(0, 3%, 14%);
  height: 50px;
}
aside{
  width: 20%;
  float: left;
  padding: 10px;
}
section{
  width: 40%;
  float: left;
  padding: 10px;
}
article{
  width: 40%;
  float: left;
  padding: 10px;
}
footer{
  display: block;
  clear: both;
  background-color: hsl(0, 10%, 76%);
  text-align: center;
  padding: 25px;
}
@media screen and (max-width:600px){   /*This means width with 600px and below we are applying the properties like...*/
  aside,section,article{
    width: 100%;
  }
}