<!DOCTYPE HTML>
<html lang="en" ng-app="emojiCopy">
<head>

    <title>EmojiCopy | Simple emoji copy and paste keyboard by JoyPixels®</title>

    <!-- ///////// META ////////// -->
    <meta charset="UTF-8">
    <base href="/">
	<meta name="google-site-verification" content="1QmM-NWlXz9EDAr30XGIDGpGcIK9nSJ-f_n29Oh57Lc" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <!-- ////////// CSS ////////// -->
    <link rel="stylesheet" href="/assets/stylesheets/vendor/normalize.css">
    <link rel="stylesheet" href="/assets/stylesheets/master.css#20250429b">

    <!-- ///////// ICONS ///////// -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
	<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=vMMb8dyELz">
	<meta name="apple-mobile-web-app-title" content="EmojiCopy">
    <meta name="application-name" content="EmojiCopy">
    <meta name="theme-color" content="#ffffff">

    <!-- ///////// FONTS ///////// -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/iiq7ejv.css">

    <!-- ////////// APP ////////// -->
    <script src="/vendor.min.js"></script>
    <script src="/main.js?v=20240911"></script>

    <!-- /////// LIBRARIES /////// -->
    <script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>
	<script src="/assets/js/vendor/modernizr-custom.js"></script>

	<!-- //////// AD SERVERS /////// -->
	<!--<script type="text/javascript" src="https://ads.vidoomy.com/emojicopy_12974.js" async></script>-->
	<!-- //////// AD SERVERS /////// -->
	<!--<script type="text/javascript" src="https://cdn.thisiswaldo.com/static/js/8656.js"></script>-->
	<script async src="https://cdn.fuseplatform.net/publift/tags/2/3699/fuse.js"></script>
	<style>
		#fuse-privacy-tool {
			font-size: 0.5rem;
		}
	</style>


	<!-- ////////// EMOJI ////////// -->
	<link rel="stylesheet" href="assets/sprites/joypixels-sprite-24.min.css?v=20230820" ng-if="emojiSize === '24'">
	<link rel="stylesheet" href="assets/sprites/joypixels-sprite-40.min.css?v=20230820" ng-if="emojiSize === '40'">
	<link rel="stylesheet" href="assets/sprites/joypixels-sprite-64.min.css?v=20230820" ng-if="emojiSize === '64'">

	<!-- ////////// SEO ////////// -->
	<link rel="canonical" href="https://www.emojicopy.com"/>
	<meta name="description" content="Our new mobile-friendly web app provides a simple, beautiful emoji copy and paste keyboard interface WITH search and auto-copy technology.">

	<!-- twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@joypixels">
	<meta name="twitter:creator" content="@joypixels">
	<meta name="twitter:title" content="EmojiCopy | Simple emoji copy and paste keyboard by JoyPixels®">
	<meta name="twitter:description" content="Our new mobile-friendly web app provides a simple, beautiful emoji copy and paste keyboard interface WITH search and auto-copy technology.">
	<meta name="twitter:image:src" content="/assets/seo/twitter-card.png">

	<!-- open graph -->
	<meta property="og:title" content="EmojiCopy | Simple emoji copy and paste keyboard by JoyPixels®">
	<meta property="og:site_name" content="EmojiCopy">
	<meta property="og:url" content="https://www.emojicopy.com">
	<meta property="og:description" content="Our new mobile-friendly web app provides a simple, beautiful emoji copy and paste keyboard interface WITH search and auto-copy technology.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/assets/seo/fb-card.png"/>

	<script data-ad-client="ca-pub-8665549675429657" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body ng-keydown="handleKeypress($event)">

<meta itemprop="accessibilityControl" content="fullKeyboardControl">
<meta itemprop="accessibilityControl" content="fullMouseControl">
<meta itemprop="accessibilityHazard" content="noFlashingHazard">
<meta itemprop="accessibilityHazard" content="noMotionSimulationHazard">
<meta itemprop="accessibilityFeature" content="structuralNavigation"/>
<meta itemprop="accessibilityFeature" content="displayTransformability/resizeText"/>
<meta itemprop="accessibilityAPI" content="ARIA">


<section class="app-container" ng-view></section>

<script type="text/javascript">
    /*waldo.refreshTag('waldo-tag-8657');
    waldo.refreshTag('waldo-tag-8658');
    waldo.refreshTag('waldo-tag-8659');
    waldo.refreshTag('waldo-tag-8660');*/
</script>

</body>
</html>
