.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.left-section{
  /* background-color: lightblue; */
  /* width: 150px; */
  display: flex;
  align-items: center;
  
}
.middle-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
.search{
  flex: 1;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(153, 144, 144);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
}
.search-bar::placeholder{    /*psuedo class is used to target placeholder on an input element like this*/
  font-family: Roboto, Arial;
  font-size: 16px;

}
.searchbtn{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
}

.voicesearchbtn{
  height: 40px;
  width: 40px;
}
.right-section{
  background-color: lightblue;
}
.hamburger{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;

}
.logoutube{
  height: 24px;
}
